*{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  font-family: sans-serif;
}
.btn{
  padding: 1rem;
  margin: 2rem;
}
.colm{
  margin: 1rem auto;
}
.movie{
  padding: 2rem;
  background-color: bisque;
}

.cancelretry{
  display: none;
}